<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"
    ></script>
    <script src="src/scripts.js"></script>
    <title>About Me</title>
  </head>
  <body>
    <header class="header">
      <h1>Michael's Page</h1>
      <h2>About Me</h2>
    </header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo vitae
      illum esse ducimus, velit ipsa asperiores dolorem id accusantium,
      molestias optio quas ratione tempore facilis veniam dolorum? Tempora, iste
      quasi?
    </p>
    <nav class="nav">
      <ul class="list-style-none text-decoration-none">
        <li><a href="/">Back to home page</a></li>
        <li><a href="/gallery">Some of my favorite pictures!</a></li>
      </ul>
    </nav>
  </body>
</html>
