<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Me</title>
  </head>
  <body>
    <h1>About me!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo vitae
      illum esse ducimus, velit ipsa asperiores dolorem id accusantium,
      molestias optio quas ratione tempore facilis veniam dolorum? Tempora, iste
      quasi?
    </p>

    <a href="/">Back to home page</a>
    <a href="/gallery">My gallery</a>
  </body>
</html>
