<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles/style.css" />
    <script src="scripts/js"></script>
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <h2>Welcome to my page!</h2>
    <ul class="list-style-none text-decoration-none">
      <li><a href="/about">Learn more about me!</a></li>
      <li><a href="/gallery">Some of my favorite pictures!</a></li>
    </ul>
  </body>
</html>
