body {
  background-color: rgb(77, 218, 206);
  color: rgb(94, 94, 94);
  font-family: "Courier New", Courier, monospace;
}

.list-style-none {
  list-style-type: none;
}

.text-decoration-none a {
  text-decoration: none;
}

.gallery-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-template-rows: repeat(300px); */
  grid-gap: 10px;
  justify-content: center;
  align-items: stretch;
}

.gallery-container img {
  width: 100%;
  /* height: 100%; */
}
